
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "FiraGO";
}
header{
    display: flex;
    justify-content: center;
}
.container{
    width: 600px;
    height: 928px;
    background-color: azure;
    margin: 40px 380px;
}
.container h1{
    margin-bottom: 34px;
    color:black;
}
.choose__image{
    width: 100%;
    height: 200px;
    border-radius: 12px;
    border: 2px dotted #85858D;
    background-color:#f4f3ff;
    margin-top: 10px;
}
.folder__add__icon{
    width: 40px;
    height: 40px;
}
.choose__image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}

